@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  margin: 0%;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

button {
  height: 25px;
  width: 90px;
  border-radius: 5px;
  background: #3882F6;
  color: white;
  font-weight: 500;
}

.signup {
  border-width: 1px;
  border-color:#1f2937;
  border-style: solid;
}

.header-button
 {
  border-style: none;
  border-color: #f9faf8;
}

.action{
  border-style: solid;
  border-color: #f9faf8;
}

a {
  text-decoration: none;
}

a,.hero-secondary-text,.footer {
font-size: 18px;
color: #e5e7eb;
}

.hero-main-text,.logo {
  color: #f9faf8;
}

.logo,.quote-name {
  font-size: 24px;
  font-weight: bold;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
}

.header,.footer {
  background-color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.quote-text {
font-size: 36px;
font-style: italic;
font-weight: light;
color: #1f2937;
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.info-image-subtext {
  font-size: 18px;
  color: #1f2937;
}

.placeholder {
  background-color: #ffffff6b;
  color: #f9faf8;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1 1 auto; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1
}

.head-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  /* justify-content: center; */
  flex: 1;
}

.nav-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: flex-start;
}

.header-call {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-image {
  border: #3882F6;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.info-call {
  min-height: 125px;
  min-width: 800px;
  border-radius: 8px;
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1 1 auto; */
}

.info-image-bar {
  display: flex;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info-image-subtext {
  text-align: center;
}

.quote-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1
}

.quote-name {
  align-self: flex-end;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 1 1 auto; */
}

.call-containter {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1
}

.info-call-body {
  display: flex;
  flex-direction: column;
}

.callbutton {
  border: #f9faf8;
  border-width: 1px;
  border-style: solid;
}

.footer {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.header,.information, quote,.call {
flex: 3 1 auto;
}

.footer {
  flex: 1;
}